{% extends 'website/base.html' %} {% load static %}

{% block title %}About || Thathwamasi - IT Solution & Technology{% endblock %}


{% block content %}

<div class="thath-breadcrumb" style="background-image: url({% static 'website/images/breadcrumb/breadcrumb.png' %})">
    <div class="container">
      <h1 class="post__title">About Us</h1>
      <nav class="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          <li aria-current="page"> About Us</li>
        </ul>
      </nav>

    </div>
  </div>
  <!-- End breadcrumb -->
  <div class="section large-padding-tb4 overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="thath-thumb extra-mr">
            <img data-aos="fade-up" data-aos-duration="600" src="{% static 'website/images/v2/thumb1.png' %}" alt="">
            <div class="thath-thumb-position" data-aos="fade-up" data-aos-duration="800">
              <img src="{% static 'website/images/v2/thumb2.png' %}" alt="">
            </div>
            <div class="thath-shape1">
              <img src="{% static 'website/images/shape/shape1.svg' %}" alt="">
            </div>
            <div class="thath-shape2">
              <img src="{% static 'website/images/shape/shape2.svg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="thath-default-content ml40">
            <h2>Exclusive technology to provide IT solutions</h2>
            <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
            <div class="thath-icon-list">
              <ul>
                <li><i class="ri-check-line"></i>Easily Build Custom Reports And Dashboards</li>
                <li><i class="ri-check-line"></i>Legacy Software Modernization</li>
                <li><i class="ri-check-line"></i>Software For The Open Enterprise</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->

  <div class="section large-padding-tb2 overflow-hidden bg-light1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-lg-2">
          <div class="thath-thumb extra-ml">
            <img data-aos="fade-up" data-aos-duration="600" src="{% static 'website/images/v3/thumb3.png' %}" alt="">
            <div class="thath-thumb-position2" data-aos="fade-up" data-aos-duration="800">
              <img src="{% static 'website/images/v3/thumb4.png' %}" alt="">
            </div>
            <div class="thath-shape3">
              <img src="{% static 'website/images/shape/shape3.svg' %}" alt="">
            </div>
            <div class="thath-shape4">
              <img src="{% static 'website/images/shape/shape2.svg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="thath-default-content mr40">
            <h2>Providing IT solutions & services for startups</h2>
            <div class="thath-extra-mt">
              <div class="thath-iconbox-wrap2">
                <div class="thath-iconbox-icon2 bg-white">
                  <img src="{% static 'website/images/iconbox/icon10.svg' %}" alt="">
                </div>
                <div class="thath-iconbox-data2">
                  <a href='#'>
                    <h5>Quality Solution for Business</h5>
                  </a>
                  <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
                </div>
              </div>
              <div class="thath-iconbox-wrap2">
                <div class="thath-iconbox-icon2 bg-white">
                  <img src="{% static 'website/images/iconbox/icon1.svg' %}" alt="">
                </div>
                <div class="thath-iconbox-data2">
                  <a href='#'>
                    <h5>Amazing Expert Teams</h5>
                  </a>
                  <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
                </div>
              </div>
              <div class="thath-iconbox-wrap2 mb-0">
                <div class="thath-iconbox-icon2 bg-white">
                  <img src="{% static 'website/images/iconbox/icon2.svg' %}" alt="">
                </div>
                <div class="thath-iconbox-data2">
                  <a href='#'>
                    <h5>Urgent Support For Clients</h5>
                  </a>
                  <p>Each demo built with Teba will look different. customize almost anything in the appearance of your</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->

    <div class="section bg-cover thath-section-padding" style="background-image: url({% static 'website/images/cta/cta-bg3.png' %})">
    <div class="container">
      <div class="thath-cta-wrap">
        <div class="thath-cta-content center">
          <h2>Let’s work together</h2>
          <p>Each demo built with Teba will look different. You can customize anything appearance of your website with only a few clicks</p>
          <div class="thath-extra-mt" data-aos="fade-up" data-aos-duration="800">
            <a class='thath-default-btn thath-white-btn' data-text='Let’s Start a Project' href='#'> <span class="btn-wraper">Let’s Start a Project</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->


  <div class="section thath-section-padding bg-light1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <div class="thath-default-content mr40">
            <h2>Let’s build an awesome project together</h2>
            <p>Each demo built with Teba will look different. You can customize almost anything in the appearance of your website with only a few clicks. Each demo built with Teba will look different.</p>
            <div class="thath-contact-info-column">
              <div class="thath-contact-info">
                <i class="ri-map-pin-2-fill"></i>
                <h5>Address</h5>
                <p>Chennai, Tamil Nadu 600040.</p>
              </div>
              <div class="thath-contact-info">
                <i class="ri-mail-fill"></i>
                <h5>Contact</h5>
                <a href="mailto:name@email.com">info@thathwamasiinfotech.in</a>
                <a href="tel:123">+91 987 654 3210</a>
              </div>
            </div>
            Office Hours: Mon – Sat: 09:30 AM – 06:30 PM
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800">
          <div class="thath-main-form bg-white ml60">
            <h3>Fill The Contact Form</h3>
            <p>Feel free to contact with us, we don’t spam your email</p>
            <form action="#">
              <div class="row">
                <div class="col-lg-6">
                  <div class="thath-main-field">
                    <input type="text" placeholder="Your name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="thath-main-field">
                    <input type="number" placeholder="Phone number">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="thath-main-field">
                    <input type="email" placeholder="Email address">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="thath-main-field">
                    <textarea name="textarea" placeholder="Write your message"></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button id="thath-main-form-btn" type="button" data-text="Send Message"> <span class="btn-wraper">Send Message</span> </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->



{% endblock %}